body,
.animated-background {
    background: linear-gradient(
        to right,#fcb045,
        #fd1, #c8f54f);
    background-size: 400% 400%;
    animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }

}
.href {
    text-decoration: none;
    color: black;
}
.href:hover {
    color: red;
}
.field-url {
    margin-left: 15px;
    border-radius: 5px;
}
.button-url {
    position: relative;
    top: 40px;
    right: 155px;
    width: 120px;
    text-align: center;
}

/* messages */
ul.messages {
    margin:10px 100px;
    padding:0;
    list-style-type: none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin:0;
    padding:14px 20px;
    list-style:none;
    color:#fff;
    border-radius: 5px;
}

ul.messages li.success { background:#81ce81; }
ul.messages li.success a { color:#0ac33e; }

ul.messages li.error { background:#a30029; color:#e9828e; }
ul.messages li.error a { color:#e9828e; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.btn-close {
    margin:0;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}

table {
    width: 100%;
    border-spacing:0;
    border-collapse: collapse;
}

table th, table td {
    text-align: left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

thead th, tbody tr {
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}
.url-delete {
    text-decoration: none;
    position: relative;
    left: 150px;
}
